/* Contents Header */

.contents-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 150px;
  background-color: #61768B;
}

.contents-header h1 {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 900;
}

.contents-header span {
  color: #fff;
  text-transform: capitalize;
}

/* Contents */

.add-book-contents {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  background-color: #F4F4F4;
}

.add-form {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Book Info */

.book-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 600px;
  background-color: #fff;
}

.book-image {
  width: 150px;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.book-container h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.radio-div {
  margin-bottom: 12px;
}

.date-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: #f4f4f4;
  padding: 10px;
}

.date-div input:first-child,
.date-div span {
  margin-bottom: 5px;
}

/* Record */

.record-container {
  width: 65%;
  height: 600px;
  background-color: #fff;
  padding: 50px 80px;
}

.record-container h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.record-container textarea {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  resize: none;
}

.record-container textarea:active,
.record-container textarea:focus {
  outline: none;
  box-shadow: none;
}

.quotations-div {
  height: 270px;
  overflow: scroll;
  margin-bottom: 20px;
}

.quotations-list li {
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 15px;

}

.quotations-list li textarea {
  position: relative;
  top: -1px;
  width: 450px;
  margin-right: 20px;
}

.quotations-list li > :nth-child(2) {
  width: 50px;
  color: #333;
  text-align: right;
}

.quotations-list li span {
  position: relative;
  top: 3px;
  font-size: 14px;
  margin-right: 20px;
}

.quotations-list li :nth-child(4) {
  width: 130px;
}

.quotations-list li div,
.btn-div {
  position: absolute;
  top: 11px;
  right: 15px;
}

.quotations-list li div button,
.impression-btn {
  color: rgba(0, 0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.quotations-list li div button:first-child {
  position: relative;
  top: -1px;
  background-image: url('https://user-images.githubusercontent.com/62706988/108728272-c3fd3080-756c-11eb-8895-c78fd4425183.png');
}

.quotations-list li div button:first-child.first-btn {
  position: relative;
  left: 15px;
}

.quotations-list li div button:first-child.edit {
  top: 0;
  height: 17px;
  background-image: url('https://user-images.githubusercontent.com/62706988/108728281-c65f8a80-756c-11eb-8921-59e321d3ea27.png');
}

.quotations-list li div button.delete {
  position: relative;
  top: 1px;
  height: 16px;
  background-image: url('https://user-images.githubusercontent.com/62706988/108733327-c01fdd00-7571-11eb-986e-2ebecaea4481.png');
}

.quotation-btn {
  display: block;
  width: 100%;
  background-color: #f4f4f4;
  margin: 0 auto 20px;
}

.quotation-btn.hide {
  display: none;
}

.impression-div {
  margin-bottom: 30px;
}

.impression-input {
  position: relative;
  background-color: #f4f4f4;
  padding: 10px;
}

.impression-input textarea {
  width: 670px;
}

.impression-btn {
  position: relative;
  background-image: url('https://user-images.githubusercontent.com/62706988/108728272-c3fd3080-756c-11eb-8895-c78fd4425183.png');
}

.impression-btn.edit {
  top: 3px;
  right: 3px;
  height: 17px;
  background-image: url('https://user-images.githubusercontent.com/62706988/108728281-c65f8a80-756c-11eb-8921-59e321d3ea27.png');
}

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { 
  display: none;
}

.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
} 

.save-btn {
  position: absolute;
  bottom: 40px;
  right: 115px;
  display: inline-block;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #B2C5D8;
  padding: 10px 20px;
  margin: 20px 0;
  cursor: pointer;
}